name: Update README

on:
  schedule:
    - cron: "0 14 * * *"
    - cron: "0 16 * * *"
    - cron: "0 18 * * *"
    - cron: "0 20 * * *"
    - cron: "0 22 * * *"
    - cron: "0 0 * * *"
    - cron: "0 2 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-readme:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: "20"

      - run: npm ci

      - run: node scripts/update_readme.js

      - run: |
          git config user.name "RafaelaSommer"
          git config user.email "camilaerafaelagoncalves@hotmail.com"
          git add README.md
          git commit -m "chore: atualização automática do README" || echo "Nada para commitar"
          git push
